<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Configuration section-handler declaration area. -->
    <configSections>
        <sectionGroup name="driversConfigurationGroup">
            <section
                    name="driversConfiguration"
                    type="Tiver.Fowl.Drivers.Configuration.DriversConfigurationSection, Tiver.Fowl.Drivers"
                    allowLocation="true"
                    allowDefinition="Everywhere" />
        </sectionGroup>
    </configSections>

    <!-- Configuration section settings area. -->
    <driversConfigurationGroup>
        <driversConfiguration/>
    </driversConfigurationGroup>
</configuration>